<!doctype html>
<html>
<title>Failed</title>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h1>Try again</h1>
<form action="#" method="post">
    <h4>Name:</h4>
    <p><input type="text" name="fullname"></p>
    <h4>Email:</h4>
    <p><input type="email" name="email"></p>
    <h4>Phone:</h4>
    <p><input type="tel" name="phone"></p>
    <h4>Message:</h4>
    <p><input type="text" name="message"></p>
    <p><input type="submit" value="submit"></p>
</form>
</body>
</html>